
{% extends 'main/layaot.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'registration/style.css' %}">
{% endblock %}
{% block title %}
    Главная страница
{% endblock %}
{% block content %}
<main>
    <div class="content" style="background: #1d8cc7">
        {% if form.errors %}
            <p>{{ form.errors.error }}</p>
        {% endif %}
        <form method="post" action="{% url 'auth' %}">
            {% csrf_token %}
            <div class="form">
                <h1>Логин</h1>
                <label for="log">Логин</label>
                <input type="text" placeholder="Логин" name="name">
                <br>
                <label for="log">Email</label>
                <input type="text"  placeholder="Email" name="email">
                <br>
                <label for="pas">Пароль</label>
                <input type="password" placeholder="Пароль" name="password">
                <br>
                <button class="go">Регистрация</button>
            </div>
        </form>
    </div>
</main>
<!-- footer -->
</div>
{% endblock %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
<!-- main -->
</body>

</html>